<ion-content class="wallpaper">
    <form [formGroup]="loginForm" (ngSubmit)="sendLogin()">
      <ion-list class="list-login">
        <ion-item class="item-list-username-login">
          <ion-label floating for="username">
            Usuario
          </ion-label>
          <ion-input formControlName="username" type="text" name="username" placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item class="item-list-password-login">
          <ion-label floating for="password">
            Contraseña
          </ion-label>
          <ion-input formControlName="password" type="password" name="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-list>
      <div class="div-button">
        <button ion-button class="button-login"  [disabled]="!loginForm.valid" type="submit">INGRESAR</button>
      </div>
    </form>
    <div class="terminos">
      <p>Al ingresar aceptas nuestros</p>
      <a [href]="">Términos y condiciones</a>
    <br>
      <a [href]="resetLink">¿Olvidaste tu Contraseña</a>
    </div>
</ion-content>