<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/logo.png ">
        </ion-avatar>
        <h2>Colegio</h2>
        <p>perfil 1</p>
        <p>perfil 2</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary">
          <ion-icon name="school-outline"></ion-icon>
          Cargo
        </button>
        <button ion-button color="secondary">
          <ion-icon name="school-outline"></ion-icon>
          Cargo 1
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="school-outline"></ion-icon>
          Cargo 3
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
