.scroll-content {
    overflow-y: hidden !important;
  }
  .wallpaper {
    background-image: url('/assets/imgs/background.jpg');
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
  }
  
  .list-login {
    width: 75%; 
    margin: 60% auto 0% auto !important;
  }
  
  .item-list-username-login {
    border-radius: 3% 3% 0% 0%;
  }
  
  .item-list-password-login {
    border-radius: 0% 0% 3% 3%;
  }
  .div-button{
    margin: 5% 13%;
  }

  .button-login {
    width: 100%;
    margin: 0% !important;
    padding: 5% 0 !important;
    background: #DD2955 !important;
    border-radius: 4px;
  }

  .terminos {
    background: rgba(0, 0, 0, 0.33);
    text-align: center;
    color: rgb(255, 255, 255) !important;
  }

  .terminos a {
    color: rgb(255, 255, 255) !important;
    margin: 5% 0%;
  }