<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Shoose Profile</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/imgs/logo.png ">
          </ion-avatar>
          <h2>Colegio</h2>
          <p>perfil 1</p>
          <p>perfil 2</p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="primary">
            <ion-icon name="school-outline"></ion-icon>
            Cargo
          </button>
          <button ion-button color="secondary">
            <ion-icon name="school-outline"></ion-icon>
            Cargo 1
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary">
            <ion-icon name="school-outline"></ion-icon>
            Cargo 3
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="login.id">
        <ion-label stacked for="id" class="serviw-label">
          <span>
            id
        </span>
        </ion-label>
        <ion-label stacked for="id" class="padd"> {{ login.id }} </ion-label>
      </ion-item>
      <ion-item *ngIf="login.name">
        <ion-label stacked for="name" class="serviw-label">
          <span>
            name
        </span>
        </ion-label>
        <ion-label stacked for="name" class="padd"> {{ login.name }} </ion-label>
      </ion-item>
      <ion-item *ngIf="login.email">
        <ion-label stacked for="email" class="serviw-label">
          <span>
            email
        </span>
        </ion-label>
        <ion-label stacked for="email" class="padd"> {{ login.email }} </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>